body{
    padding: 0;
    margin: 0;
}
#sidebar-container{
    background-color: #E4E9F5;

}
#sidebar-items{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    gap: 50px;
    list-style-type: none;
    padding: 10px;
    margin: 0px;
    box-sizing: border-box;
    align-items: center;
    background-color: white;
}
.sidebar-item {
    height: 50px;
    width: 50px;
    text-align: center;
    display: flex;
}

.sidebar-item:hover {
    color: white;
    background-color: black;
    animation-duration: 1s;
    animation-name: hover_transition;
}

@keyframes hover_transition {
    0% {
        color: black;
        background-color: white;
    }
    50% {
        color: white;
        background-color: black;
    }


}